@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
  // align-items: center;
  // justify-content: center;
  text-align: center;
  width: 100%; // make sure the parent is full screen
  height: 100%; // so that the content will center correctly
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

footer {
  text-align: center;
  align-items: center;
  font-size: 12px;
}

p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

#homepage {
  max-height: 550px;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

#robo {
  height: 300px;
  width: auto;
}

#name {
  font-family: 'Lato', sans-serif;
  color: #30475e;

}

#contact {
  padding: 50px 10px 10px 10px;
  text-align: center;
  align-items: center;
}

#card {
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.26);
  justify-content: center;
}

.card {
margin: 0 auto; /* Added */
float: none; /* Added */
margin-bottom: 10px; /* Added */
border: none;
}

#cardtitle1 {
  color: #0f3057;
}

#cardtitle2 {
  color: #00587a;
}

#cardtitle3 {
  color: #008891;
}

svg {
  color: #6D6D6D
}

#ga {
  margin: 0 auto;
  padding: 10px;
  float: none;
  color: #61b15a;
  animation: type 3s steps(25);
  overflow:hidden;
  white-space:nowrap;
  font-family: 'IBM Plex Mono', monospace;
  border-right:4px solid black;
  width:25ch;
}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:25ch;
  }
}
