@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  align-items: center;
  text-align: center;
  background-color: white;
}

footer {
  text-align: center;
  align-items: center;
  font-size: 12px;
}

p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

#homepage {
  max-height: 550px;
  max-width: auto;
}

#robo {
  height: 300px;
  width: auto;
}

#name {
  font-family: 'Lato', sans-serif;
}

#contact {
  padding: 50px 10px 10px 10px;
  text-align: center;
  align-items: center;
}

#card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  justify-content: center;
}

#logo {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#bio {
  font-size: 15px;
}
